.userInfoContainer{
    display: flex;
    align-items: flex-start;
    border: 2px solid grey;
    margin: auto;
    width: 60rem;
}

.userInfoContainer p{
    margin: 2px 1.5rem 2px 2px;
    font-size: 1.5rem;
}