.UserListComponent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    margin-top:5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
    background-color: rgb(226, 220, 220);
    width: 60%;
    border-radius: 10px;
}